pandas==2.1.4
psycopg2-binary==2.9.9
sqlalchemy==1.4.52
faker==22.0.0
pyspark==3.5.0
boto3==1.34.0
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1
great-expectations==0.18.8
python-dotenv==1.0.0
requests==2.31.0
pyarrow==14.0.2
loguru==0.7.2
